openapi: 3.1.0
info:
  title: DigiCert CertCentral Services Account API
  description: DigiCert CertCentral Services API provides programmatic access to certificate lifecycle operations including ordering, validation, revocation, and management of accounts, domains, and organizations.
  version: '2'
servers:
- url: https://www.digicert.com/services/v2
  description: DigiCert CertCentral Services API (US)
- url: https://certcentral.digicert.eu/services/v2
  description: DigiCert CertCentral Services API (EU)
security:
- apiKey: []
tags:
- name: Account
paths:
  /account:
    get:
      summary: Get account details
      operationId: getAccount
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
      tags:
      - Account
  /account/authkey:
    post:
      summary: Create authentication key
      operationId: createAuthKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthKey'
      responses:
        '201':
          description: Auth key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthKey'
      tags:
      - Account
  /account/authkey/{id}:
    delete:
      summary: Delete authentication key
      operationId: deleteAuthKey
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Auth key deleted
      tags:
      - Account
  /account/custom-fields:
    get:
      summary: List custom fields
      operationId: listCustomFields
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
      tags:
      - Account
    post:
      summary: Create custom field
      operationId: createCustomField
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomField'
      responses:
        '201':
          description: Custom field created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomField'
      tags:
      - Account
components:
  schemas:
    AuthKey:
      type: object
      additionalProperties: true
    Collection:
      type: object
      additionalProperties: true
      properties:
        page:
          type: object
          additionalProperties: true
    Account:
      type: object
      additionalProperties: true
    CustomField:
      type: object
      additionalProperties: true
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-DC-DEVKEY
x-generated-from: https://dev.digicert.com/en/certcentral-apis/services-api.html
x-generated-by: claude-crawl-2026-05-08
