openapi: 3.1.0
info:
  title: DigiCert CertCentral Services Account Organization API
  description: DigiCert CertCentral Services API provides programmatic access to certificate lifecycle operations including ordering, validation, revocation, and management of accounts, domains, and organizations.
  version: '2'
servers:
- url: https://www.digicert.com/services/v2
  description: DigiCert CertCentral Services API (US)
- url: https://certcentral.digicert.eu/services/v2
  description: DigiCert CertCentral Services API (EU)
security:
- apiKey: []
tags:
- name: Organization
paths:
  /organization:
    get:
      summary: List organizations
      operationId: listOrganizations
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
      tags:
      - Organization
    post:
      summary: Create organization
      operationId: createOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
      tags:
      - Organization
components:
  schemas:
    Collection:
      type: object
      additionalProperties: true
      properties:
        page:
          type: object
          additionalProperties: true
    Organization:
      type: object
      additionalProperties: true
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-DC-DEVKEY
x-generated-from: https://dev.digicert.com/en/certcentral-apis/services-api.html
x-generated-by: claude-crawl-2026-05-08
