openapi: 3.1.0
info:
  title: DigiCert CertCentral Services Account Domain API
  description: DigiCert CertCentral Services API provides programmatic access to certificate lifecycle operations including ordering, validation, revocation, and management of accounts, domains, and organizations.
  version: '2'
servers:
- url: https://www.digicert.com/services/v2
  description: DigiCert CertCentral Services API (US)
- url: https://certcentral.digicert.eu/services/v2
  description: DigiCert CertCentral Services API (EU)
security:
- apiKey: []
tags:
- name: Domain
paths:
  /domain:
    get:
      summary: List domains
      operationId: listDomains
      parameters:
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
      tags:
      - Domain
    post:
      summary: Add domain
      operationId: createDomain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
      responses:
        '201':
          description: Domain created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
      tags:
      - Domain
  /domain/{domainId}:
    get:
      summary: Get domain
      operationId: getDomain
      parameters:
      - name: domainId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
      tags:
      - Domain
    delete:
      summary: Delete domain
      operationId: deleteDomain
      parameters:
      - name: domainId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Domain deleted
      tags:
      - Domain
components:
  schemas:
    Domain:
      type: object
      additionalProperties: true
    Collection:
      type: object
      additionalProperties: true
      properties:
        page:
          type: object
          additionalProperties: true
  parameters:
    Offset:
      name: offset
      in: query
      schema:
        type: integer
    Limit:
      name: limit
      in: query
      schema:
        type: integer
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-DC-DEVKEY
x-generated-from: https://dev.digicert.com/en/certcentral-apis/services-api.html
x-generated-by: claude-crawl-2026-05-08
